/* .logo{
text-align: center;
text-decoration: none;
} */

.logo{
    text-align: center;
    text-decoration-line: none;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    
    color: #333;
   
}
.logo>a{
    color: #333;
    text-decoration: none;
}
