.sidebarContainer{
    width: 27%;
}
.cardHeader{
    text-transform:uppercase;
    font-size: 15px;
   text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #333;

}
.profileImage{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

   

}
.profileImage img{
max-width: 100%;
}

.aboutustextpara{
    font-size: 14px;
    color: #565673;
    font-weight: 400;

}
.recentPost h3{
font-weight: 500;
color: #666;
letter-spacing: 1px;
font-size: 20px;
}
.recentPost span{
    font-size: 15px;
    font-weight: 400;
   
}
.recentPosts h3{
    color: #666;
    letter-spacing: 1px;
    font-size: 20px; 
    font-weight: 500;
   

}
.recentPost{
    border-radius: 1px solid#eee;
    margin-bottom: 10px;
    padding-left: 4px;
}